@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Entire Project Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* Color */
:root {
  --header-color: #0a093d;
  --primary-color: #217bf4;
  --paragraph-color: #656464;
  --normal-color: #2b2b39;
  --white-color: #ffffff;
  --card-color: #2f2c4a;
}

/* font-size */
:root {
  --header-font-size: 56px;
  --secondary-header-font-size: 36px;
  --paragraph-font-size: 16px;
  --menu-font-size: 14px;
  --button-font-size: 16px;
  --header-3-font-size: 18px;
  --card-header-font-size: 20px;
  --peson-font-size: 24px;
  --bottom-menu-font-size: 20px;
}

/* Normal Button */
.normal-btn {
  padding: 24px 42px;
  border-radius: 14px;
  background: var(--primary-color);
  outline: none;
  border: 1px solid;
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
  color: var(--white-color);
}

.normal-btn:hover {
  background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
  border-color: var(--primary-color);
  color: var(--primary-color);
  box-shadow: none;
  cursor: pointer;
}

.abnormal-btn {
  padding: 24px 42px;
  border-radius: 14px;
  border: 1px solid var(--primary-color);
  background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
  color: var(--primary-color);
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
  color: var(--primary-color);
  margin-left: 18px;
}
.abnormal-btn:hover {
  background: var(--primary-color);
  outline: none;
  color: var(--white-color);
  box-shadow: none;
  cursor: pointer;
}

/* Anchor Tag */
a {
  text-decoration: none;
}

h2 {
  font-size: var(--secondary-header-font-size);
  color: var(--header-color);
  margin-bottom: 18px;
}
p {
  font-size: 16px;
  line-height: 28px;
  color: var(--paragraph-color);
  margin-bottom: 36px;
}

/* Container */
.container {
  max-width: 1170px;
  margin: auto;
}

/* Navbar */
header {
  background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
  height: 100vh;
}
nav {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > .left-side {
  display: flex;
  align-items: center;
}

.logo {
  padding-right: 72px;
}

.nav-link {
  color: var(--paragraph-color);
  margin-right: 32px;
  font-size: var(--menu-font-size);
  font-weight: 500;
}

.nav-link:first-of-type {
  font-weight: 600;
  color: var(--normal-color);
}

.nav-link:last-child {
  margin-right: 0;
}

.login {
  padding: 18px 44px;
}

.search {
  background-image: url("/assets/image/logo-mockup/search.png");
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-bottom: 18px;
  border: none;
  background-color: transparent;
  color: var(--paragraph-color);
  outline: none;
  border-bottom: 1px solid #e5e5e5;
  margin-right: 42px;
  width: 110px;
}

hr {
  border: 1px solid #217bf4;
  opacity: 0.1;
}

/* Header */
#header {
  display: flex;
  align-items: center;
  height: calc(100vh - 150px);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > .left-side,
.header > .right-side {
  width: 45%;
}

.network {
  padding: 12px 30px;
  color: var(--primary-color);
  background-color: rgba(33, 124, 244, 0.101);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin-bottom: 20px;
  display: inline-block;
}

.header > .left-side > h1 {
  font-size: var(--header-font-size);
  color: var(--header-color);
  margin-bottom: 18px;
}

.header > .left-side > p {
  font-size: var(--paragraph-font-size);
  color: var(--paragraph-color);
  margin-bottom: 45px;
}

.right-side > img {
  width: 100%;
}

/* JOIN */
.join {
  margin-top: 90px;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join > .left-side {
  width: 40%;
}

.join > .right-side {
  width: 50%;
}

.join > .left-side > span {
  font-weight: 500;
  font-size: var(--header-3-font-size);
  color: var(--primary-color);
  margin-bottom: 10px;
}

.join > .right-side {
  display: flex;
  justify-content: space-between;
}

.join > .right-side > div > img {
  width: 100%;
}

.join > .right-side > div {
  width: 48%;
}

.join-left > img {
  border-radius: 10px;
}

.join-left {
  margin: auto 0;
}

.join-right > img:first-of-type {
  margin-bottom: 24px;
}

.join > .left-side > label {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: var(--header-color);
  margin-bottom: 10px;
  padding: 0 10px;
  display: inline-block;

  /* identical to box height, or 100% */
}

.join > .left-side > label:last-child {
  margin-bottom: 0;
}

.achievment {
  display: flex;
  padding: 70px 0;
  justify-content: space-between;
}

.achievment > div {
  width: 30%;
}

.achievment > div {
  border-radius: 14px;
  padding: 40px 44px;
  border: 1px solid rgba(0, 0, 0, 0.112);
}
.achievment > div:hover {
  box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
  transition: all 0.3s ease-in-out;
  border-color: transparent;
}

.achievment > div:last-child {
  border: none;
  box-shadow: none;
  padding: 0 0;
}

.fa-light {
  font-size: 25px;
  color: black;
  font-weight: 900px;
}

.fa-star {
  color: var(--primary-color);
  font-size: 16px;
}

.rating {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.rating > i{
  margin-right: 5px;
}

.rating-container{
  font-weight: 600;
font-size: 16px;
line-height: 18px;
color: #5D5B70;
}
.member{
  color: var(--primary-color);
}

.image-container{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.image-container > span{
  display: inline-block;
  margin-left: 15px;
}

.image-container > img:nth-child(2),
.image-container > img:last-of-type{
  margin-left: -8px;
}

.rating-container > p{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

/* or 162% */

color: #8C8C8C;
}

.fa-arrow-right{
  font-size: 10px;
}

.join-our-community{
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;

/* identical to box height, or 100% */

color: #4A4A56;
}

.join-our-community:hover{
  color: #217BF4;
}

.award{
  display: flex;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  /* identical to box height, or 100% */

  color: #0A093D;
  margin-bottom: 42px;
}

.award > i{
  margin-right: 10px;
}

.achievment-container > h3:last-of-type{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

/* identical to box height, or 112% */

color: #5D5B70;

margin-bottom: 40px;

}

.fa-github{
  background-color: red;
  color: white;
  border-radius: 50%;
  margin-right: 16px;
}

.achievment-container > span{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;

/* identical to box height, or 100% */

color: #4A4A56;
}

.achievment-container > span:hover{
  color: var(--primary-color);
}

.discover > h3{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;

/* identical to box height, or 100% */

color: #217BF4;
margin-bottom: 10px;
}

/* Community Section */

#community{
  background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);
  padding: 60px 0;
}

#community > .container > h4{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  
  /* identical to box height, or 100% */
  text-align: center;
  
  color: #217BF4;
  
  
}

#community > .container > h2{
  text-align: center;
  margin-bottom: 20px;
}

#community > .container > h2 + p{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;

/* or 175% */
text-align: center;

color: #656464;
width: 40%;
margin: 0 auto 60px;
}

.card-container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 44px;
}

.card-item{
  padding: 40px;
  background: #FFFFFF;
box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
border-radius: 14px;
display: flex;
}

.card-item > div:first-of-type{
  margin-right: 30px;
}

.card-item > div:last-of-type > h3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  
  /* identical to box height, or 108% */
  
  color: #2F2C4A;
  margin-bottom: 14px;
}

.card-item > div:last-of-type > p{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

/* or 162% */

color: #656464;
}

.card-item:first-of-type > div:first-of-type > span{
  background: linear-gradient(154.49deg, #5CA1FE 6.61%, #217BF4 89.72%);
box-shadow: 0px 10px 22px -2px rgba(109, 171, 255, 0.36);
border-radius: 24px;
padding: 19px 16px;
color: #ffffff;
}

.card-item:nth-child(2) > div:first-of-type > span{
  background: linear-gradient(154.49deg, #FF858A 6.61%, #F04148 89.72%);
box-shadow: 0px 8px 22px -2px rgba(248, 87, 94, 0.3);
border-radius: 24px;
padding: 19px 16px;
color: #ffffff;
}

.card-item:nth-child(3) > div:first-of-type > span{
  background: linear-gradient(154.49deg, #FFD085 6.61%, #FFAF2E 89.72%);
  box-shadow: 0px 10px 22px -2px rgba(250, 186, 84, 0.3);
border-radius: 24px;
padding: 19px 16px;
color: #ffffff;
}

.card-item:nth-child(4) > div:first-of-type > span{
  background: linear-gradient(154.49deg, #5CA1FE 6.61%, #217BF4 89.72%);
  box-shadow: 0px 10px 22px -2px rgba(109, 171, 255, 0.36);
border-radius: 24px;
padding: 19px 16px;
color: #ffffff;
}

.card-item:nth-child(5) > div:first-of-type > span{
  background: linear-gradient(154.49deg, #FF858A 6.61%, #F04148 89.72%);
  box-shadow: 0px 8px 22px -2px rgba(248, 87, 94, 0.3);
border-radius: 24px;
padding: 19px 16px;
color: #ffffff;
}

.card-item:nth-child(6) > div:first-of-type > span{
  background: linear-gradient(154.49deg, #FFD085 6.61%, #FFAF2E 89.72%);
  box-shadow: 0px 10px 22px -2px rgba(250, 186, 84, 0.3);
border-radius: 24px;
padding: 19px 16px;
color: #ffffff;
}

